<p id="notice"><%= notice %></p>

<p>
  <strong>Nama:</strong>
  <%= @product.nama %>
</p>

<p>
  <strong>Explanation.text:</strong>
  <%= @product.explanation.text %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
